doctype 5
html
  head
    title= "Look Sharp"
    link(rel='stylesheet/less', href='/stylesheets/less/style.less')
    link(rel='stylesheet', href='/stylesheets/css/ui-lightness/jquery-ui-1.8.23.custom.css')
    link(rel='icon', href='/media/lookSharpPic.jpeg', type="image/gif", sizes="16x16")
    link(href='http://fonts.googleapis.com/css?family=Raleway+Dots',rel='stylesheet',type='text/css')
    block customCSS
    script(src='/javascripts/less.js')
  body
    div.nav
      include nav
    div#page-container
      div#top-portion-container
        include about 
    block content
    block customJS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
    script(src='/javascripts/custom/custom.js')