@body-color: #5d2b05;
@page-container-color:#eee;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @body-color;

  #page-container{
    margin:auto;
    width:960px;
    color:@page-container-color;
  }
}

a {
  color: #00B7FF;
}