@body-color: #5d2b05;
@page-container-color:#cd5f0c;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @body-color;

  #page-container{
    margin-left:auto;
    margin-right:auto;
    width:960px;
    background-color:@page-container-color;
    
    #tabs{
      width:80%;
      margin:auto;
    }
  }
}

